       * {
           margin: 0;
           padding: 0;
           box-sizing: border-box;
           font-family: Arial, Helvetica, sans-serif;
       }

       body {
           background: radial-gradient(rgb(190, 125, 125), rgb(134, 134, 219), rgb(203, 203, 108));
           color: #fff;
       }
         /* header */
       header {
           border: rgb(97, 240, 104) 5px solid;
           background-color: #111;
           color: white;
           display: flex;
           align-items: center;
           justify-content: space-between;
           padding:20px 3%;
       }

       .logo {
           font-size: 45px;
           font-weight: bold;
       }
       nav a {
        font-size: 25px;
           color: rgb(255, 255, 255);
           text-decoration: none;
           /* margin: left 20px; */
           transition: 0.5s;
           border: 2px white solid transparent;
           margin-right: 20px;
       }
       nav a:hover {
        background-color: rgb(147, 40, 255);
           border: 2px white solid;
       }
       /* hero-section */
       .hero {
           display: flex;
           justify-content: space-between;
           align-items: center;
           padding: 40px, 5%;
           /* flex-wrap: wrap; */
       }
       .hero-text{
        color: #111;
        font-size: 50px;
        margin-bottom: 10px;
       }

       .hero-texth1 {
           width: 50px;
       }
       .hero-texth2 {
           color: yellow;
           margin-bottom: 20px;
       }

       .hero-text p {
           line-height: 1.6;
           margin-bottom: 20px;
       }

       .hero-text button {
           padding: 12px 25px;
           border: none;
           background: rgb(104, 81, 234);
           color: white;
           font-size: 30px;
           border-radius: 5px;
           cursor: pointer;
       }
       .hero-text button:hover{
        background-color: rgb(10, 186, 216);
       }

       .hero-image img {
           width: 300px;
           border-radius: 50%;
       }
       .image:hover{
        image-orientation: 20px;
       }
       section{
        color: #111;
        padding: 60px 10%;
       }
       section h2{
        text-align: center;
        margin-bottom: 30px;
        font-size: 35px;
       }
       /* about */
       .about p{
        font-size: 40px;
        font-weight: 500;
        text-align: center;
        justify-content: center;
        max-width: 700px;
        margin: auto;
        line-height: 1.8;
       }
       /* skill */
       .skill-box{
        display: flex;
        font-weight: bold;
        align-items: center;
        justify-content: center;
        color: #111;
        flex-wrap: wrap;
        gap: 20px;
       }
       .skill{
        height: 50px;
        background: rgb(163, 239, 119);
        padding: 15px 30px;
        border-radius: 5%;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0);
       }
       /* project */
       .project-container{
         align-items: center;
         display: flex;
         justify-content: center;
         color: #111;
         flex-wrap: wrap;
         gap: 20px;
       }
       .project-cards{
         height: 150px;
         background: rgb(163, 239, 119);
         padding: 15px 30px;
         border-radius: 3%;
         box-shadow: 0 2px 10px rgba(0, 0, 0, 0);
       }
       /* contact */
        form{
            margin: auto;
            max-width: 600px;
            display: flex;
            flex-direction: column;
            background: rgb(183, 122, 245);
            gap: 15px;
        }
        form input,
        form textarea{
            color: #000000;
            background-color: rgb(163, 239, 119);
            padding: 12px;
            border: 2px rgb(0, 0, 0) solid;
            border-radius: 5px
        }
        form textarea{
            height: 120px;
        }
        form button{
            background-color: rgb(104, 81, 234);
            padding: 12px;
            border: #000000 2px solid;
            border-radius: 5px;
            cursor: pointer;
        }
        form button:hover{
            background-color: rgb(10, 186, 216);
            transition: 1s;
        }
        footer{
            background-color: #111;
            color: #fff;
            text-align: center;
            padding: 20px;
            margin-top: 30px;
        }
        @media(max-width:768px) {

    .hero {
        flex-direction: column;
        text-align: center;
    }

    .hero-text {
        width: 100%;
        margin-bottom: 30px;
    }

    .hero-image img {
        width: 220px;
    }

    header {
        flex-direction: column;
    }

    nav {
        margin-top: 15px;
    }
}
        

